[submodule "src/src/submodules/autoattack"]
	path = src/src/submodules/autoattack
	url = https://github.com/adverML/auto-attack.git
	branch = forspectraldefense
[submodule "src/src/submodules/pytorch-classification"]
	path = src/src/submodules/pytorch-classification
	url = https://github.com/bearpaw/pytorch-classification
[submodule "src/src/submodules/adversarial-detection"]
	path = src/src/submodules/adversarial-detection
	url = https://github.com/adverML/adversarial-detection
[submodule "src/src/submodules/knn-defense"]
	path = src/src/submodules/knn-defense
	url = https://github.com/chawins/knn-defense.git
[submodule "src/src/submodules/Imagenet32_Scripts"]
	path = src/src/submodules/Imagenet32_Scripts
	url = https://github.com/computeVision/Imagenet32_Scripts
[submodule "src/src/submodules/ImageNet128_Scripts"]
	path = src/src/submodules/ImageNet128_Scripts
	url = git@github.com:adverML/ImageNet128_Scripts.git
[submodule "src/src/submodules/ImageNet-Downsampled"]
	path = src/src/submodules/ImageNet-Downsampled
	url = git@github.com:computeVision/ImageNet-Downsampled.git
[submodule "src/src/submodules/CD-VAE"]
	path = src/src/submodules/CD-VAE
	url = https://github.com/kai-wen-yang/CD-VAE.git
